.container {
  flex-grow: 1;
  position: absolute;
}
.suggestionsContainerOpen {
  position: absolute;
  /* marginTop: theme.spacing.unit,
  marginBottom: theme.spacing.unit * 3, */
  left: 0;
  right: 0;
  z-index: 1;
}
.suggestion {
  display: block;
}
.suggestionsList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.textField {
  width: 100%;
}
